ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol[start="2"] {
  counter-reset: item 1;
}

ol[start="3"] {
  counter-reset: item 2;
}

ol[start="4"] {
  counter-reset: item 3;
}

ol[start="5"] {
  counter-reset: item 4;
}

ol[start="6"] {
  counter-reset: item 5;
}

ol[start="7"] {
  counter-reset: item 6;
}

ol[start="8"] {
  counter-reset: item 7;
}

ol[start="9"] {
  counter-reset: item 8;
}

ol[start="10"] {
  counter-reset: item 9;
}

ol[start="11"] {
  counter-reset: item 10;
}

ol[start="12"] {
  counter-reset: item 11;
}

ol[start="13"] {
  counter-reset: item 12;
}

ol[start="14"] {
  counter-reset: item 13;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

ol.statutes > li:before {
  font-size: 1.5em;
  font-weight: normal;
}

ol.statutes > li > h2 {
  margin: 0;
  border-bottom: 1px solid #ccc;
}
